@import "tailwindcss";

@theme {
    --color-background: rgb(var(--background));
    --color-background2: rgb(var(--background2));
    --color-card: rgb(var(--card));
    --color-body: rgb(var(--body));
    --color-border: rgb(var(--border));
    --color-subheading: rgb(var(--subheading));
    --color-heading: rgb(var(--heading));
}

html {
    scroll-behavior: smooth;
}

:root {
    --background: 7, 7, 7; 
    --background2: 4, 4, 4;
    --card: 15, 15, 15;
    --body: 142, 142, 142;
    --border: 50, 50, 50;
    --subheading: 220, 220, 220;
    --heading: 255, 255, 255;
}

.dark {
    --background: 7, 7, 7; 
    --background2: 4, 4, 4;
    --card: 15, 15, 15;
    --body: 142, 142, 142;
    --border: 50, 50, 50;
    --subheading: 220, 220, 220;
    --heading: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: 12, 12, 12; 
        --background2: 9, 9, 9;
        --card: 20, 20, 20;
        --body: 142, 142, 142;
        --border: 50, 50, 50;
        --subheading: 220, 220, 220;
        --heading: 255, 255, 255;
    }
}


