.hero {
    background: linear-gradient(rgb(41, 4, 145), var(--primary-blue));
    background-size: cover;
    background-position: center;
    color: var(--off-white);
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(43, 48, 58, 0.5);
}

.hero p {
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto 30px;
    text-shadow: 0 1px 3px rgba(43, 48, 58, 0.5);
}

.btn {
    display: inline-block;
    background-color: var(--off-white);
    color: var(--dark-gray);
    padding: 12px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
    border: 2px solid var(--off-white);
}

.btn2 {
    display: inline-block;
    background-color: var(--accent-green);
    color: var(--dark-gray);
    padding: 12px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
    border: 2px solid var(--accent-green);
}

.btn2:hover {
    background-color: transparent;
    color: var(--accent-green)
}

.btn:hover {
    background-color: transparent;
    color: var(--off-white);
}

.btn-outline {
    background-color: transparent;
    border: 2px solid var(--accent-green);
    margin-left: 15px;
}

.btn-outline:hover {
    background-color: var(--accent-green);
    color: var(--primary-blue);
}