.skills-catalog {
    padding: 80px 0;
    background-color: var(--off-white);
    text-align: left;
}

.skills-catalog h2 {
    padding-top: 60px;
    color: var(--primary-blue);
}

.skills-catalog h3 {
    padding-top: 10px;
    font-weight: bold;
}