@import "tailwindcss";

@theme {
    --color-background: rgb(var(--background));
    --color-background2: rgb(var(--background2));
    --color-primary: rgb(var(--primary));
    --color-secondary: rgb(var(--secondary));
    --color-tertiary: rgb(var(--tertiary));
    --color-card: rgb(var(--card));
    --color-body: rgb(var(--body));
    --color-subheading: rgb(var(--subheading));
    --color-heading: rgb(var(--heading));
}

html {
    scroll-behavior: smooth;
}

// light
:root {
    --background: 255, 255, 255;
    --background2: 223, 217, 226;
    --primary: 247, 179, 43;
    --secondary: 247, 44, 37;
    --tertiary: 6, 190, 225; 
    --card: 255, 255, 255; 
    --body: 100, 122, 163;
    --subheading: 36, 35, 49;
    --heading: 0, 0, 0;
}

.dark {
    --background: 15, 23, 42; 
    --background2: 2, 6, 23;
    --primary: 37, 99, 235;
    --secondary: 59, 130, 246;
    --tertiary: 96, 165, 250;
    --card: 30, 41, 59;
    --body: 148, 163, 184;
    --subheading: 203, 213, 225;
    --heading: 248, 250, 252;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: 15, 23, 42; 
        --background2: 2, 6, 23;
        --primary: 37, 99, 235;
        --secondary: 59, 130, 246;
        --tertiary: 96, 165, 250;
        --card: 30, 41, 59;
        --body: 148, 163, 184;
        --subheading: 203, 213, 225;
        --heading: 248, 250, 252;
    }
}


