<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joseph Hopwood</title>
    <link rel="stylesheet" href="/css/landing-page-styles.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container header-container">
            <div class="logo">
                <div class="logo-text">jhops<span>.me</span></div>
            </div>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills & Experience</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Hero Section -->
    <section class="hero" id="home">
        <div class="container">
            <h1>Introducing Joseph</h1>
            <p>Results-oriented, analytical, IT enthusiast commited to exceeding expectations of quality, detail, and innovation.</p>
            <a href="/skills" class="btn2">See what I bring ➡</a>
            <a href="#contact" class="btn">Contact</a>
        </div>
    </section>

        <!-- Skills Section -->
        <section class="features" id="skills">
            <div class="container">
                <div class="section-title">
                    <h2>Skills & Experience</h2>
                </div>
                <div class="features-grid">
                    <a href="/skills#development" class="features-link">
                        <div class="feature-card">
                            <div class="feature-icon">{ }</div>
                            <div class="feature-content">
                                <h3>Development</h3>
                                <p>
                                    From low-level languages, memory management, and GPU programming to
                                    in-demand high-level langauges or functionl design
                                    patterns - it's covered. Familiar with many industry-leading architectures
                                    with high adaptability to fit your organization's needs.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="/skills#cloud" class="features-link">
                        <div class="feature-card">
                            <div class="feature-icon">☁</div>
                            <div class="feature-content">
                                <h3>Cloud</h3>
                                <p>
                                    Multi-cloud experience with AWS and Azure. From the CLI to the constole,
                                    and everything in beteween, ready to provision only the best cloud solutions
                                    with the services you love.
                                </p>
                            </div>
                        </div>
                    </a>

                    <a href="/skills#devops" class="features-link">
                        <div class="feature-card">
                            <div class="feature-icon">∞</div>
                            <div class="feature-content">
                                <h3>DevOps</h3>
                                <p>
                                    End-to-end workflow optimiztion, automation, and innovation. Hands-on and
                                    acedmic experience with continuous integration and continuous delivery
                                    tools and methodologies. Primed to shorten your cycle time and help your
                                    organization hit its deliverables.
                                </p>
                            </div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </section>

    <!-- About Section -->
     <section class="about" id="about">
        <div class="container">
            <div class="section-title-tight">
                <h2>About</h2>
            </div>
            <p>
                Dynamic and driven second-year IT Cloud DevOps student at Madison College with over three
                years of hands-on programming experience in Python and various languages. Skilled in cloud computing,
                with practical experience designing, deploying, and optimizing solutions in AWS and Azure.
                Experienced with continuous integration/continuous deployment (CI/CD) pipelines, high-availability
                architectures, and infrastructure automation, with a strong passion for performance optimization and
                process efficiency.
            </p>
            </br>
            <p>
                Bringing a customer-centric mindset from a service industry background, thrives in collaborative,
                fast-paced environments where problem-solving, adaptability, and technical excellence drive success.
                Eager to take advantage of cutting-edge cloud technologies and DevOps best practices to build scalable,
                robust systems while continuously expanding expertise in industry-leading tools and methodologies.
            </p>
        </div>
     </section>



    <!-- Projects Section -->
    <section class="projects" id="projects">
        <div class="container">
            <div class="section-title">
                <h2>Projects</h2>
            </div>
            <div class="projects-grid">
                <div class="projects-card">
                    <div class="projects-image">
                        <img src="/project.png" alt="Projects 1">
                    </div>
                    <div class="projects-content">
                        <div class="projects-date">4/9/2025</div>
                        <h3>This Website</h3>
                        <p>Lorem ipsume description, read about this site...</p>
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="projects-card">
                    <div class="projects-image">
                        <img src="/project.png" alt="Projects 2">
                    </div>
                    <div class="projects-content">
                        <div class="projects-date">0/0/000</div>
                        <h3>Empty Project</h3>
                        <p>Lorem ipsume description, read about this site...</p>
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="projects-card">
                    <div class="projects-image">
                        <img src="/project.png" alt="Projects 3">
                    </div>
                    <div class="projects-content">
                        <div class="projects-date">0/0/000</div>
                        <h3>Empty Project</h3>
                        <p>Lorem ipsume description, read about this site...</p>
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Stats Section -->
    <section class="stats">
        <div class="container">
            <div class="stats-grid">
                <div class="stat-item">
                    <h3>3+</h3>
                    <p>Years of Experience</p>
                </div>
                <div class="stat-item">
                    <h3>2100+</h3>
                    <p>Hours Invested</p>
                </div>
                <div class="stat-item">
                    <h3>??+</h3>
                    <p>Lines of Code Written</p>
                </div>
                <div class="stat-item">
                    <h3>100%</h3>
                    <p>Commited</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="contact">
        <div class="container">
            <div class="footer-grid">
                <div class="footer-column">
                    <h3>jhops.me</h3>
                    <p>This says something about a mission statement and also a disclaimer at the bottom of the page</p>
                </div>
                <div class="footer-column">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#skills">Skills & Experience</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Contact</h3>
                    <ul>
                        <li>josephrhopwood@gmail.com</li>
                        <li>Madison, WI, USA</li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Follow Me</h3>
                    <ul>
                        <li><a href="https://github.com/JHops881">GitHub</a></li>
                        <li><a href="https://www.linkedin.com/in/josephhopwood/">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>jhops.me by Joseph Hopwood</p>
            </div>
        </div>
    </footer>
</body>
</html>